<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Dev Wizard - It's a Real Wizard!</title>
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
    </head>

    <body>
        <div class="ui container">
            <div class="ui four inverted menu ">
                <%= if @current_user do %>
                    <img src="<%= @current_user.avatar %>" class="ui tiny circular image item"/>
                <% else %>
                    <a href="/login">Login with github</a>
                <% end %>

                <img src="images/dev-wizard-winters-small.png" class="ui tiny circular image item"/>
                <div class="item">
                    <h2>Dev Wizard</h2>
                    <p>It's a real wizard.</p>
                </div>
                <%= if @current_user do %>
                    <div class="ui simple dropdown item">
                        MAKE IT GO <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/dash" class="item">Dash</a>
                            <a href="/needs_review" class="item">Needs Review</a>
                            <a href="/needs_qa" class="item">Needs QA</a>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="ui container">
                <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
                <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

                <%= render @view_module, @view_template, assigns %>
            </div>
        </div> <!-- /container -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
