<h1>PRs TODO</h1>

<ol>
  <%= for {repo, prs} <- @prs_todo do %>
    <%= if length(prs) > 0 do %>
      <h2><%= repo %></h2>
      <%= for pr <- prs do %>
        <% title = pr.title %>
        <li>
          <a target='_blank' href='<%= pr.html_url %>'>
            <%= title %>
          </a>
          <br/>
          <%= review_state pr %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ol>
